.ai-button {
  background-color: transparent;
  border-radius: 50%;
  padding: 5px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  height: 50px;
  width: 50px;
  z-index: 50;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: white;
  cursor: pointer;
}
.ai-button > img {
  height: 100%;
  width: 100%;
}