.forgot-pass-dialog {
  background-color: rgba(0, 0, 0, 0.144);
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  z-index: 5;
  align-content: center;
  overflow: auto;
  padding: 5px;
}
.forgot-pass-dialog .forgot-con {
  background-color: white;
  width: min(400px, 100%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
  gap: 50px;
  margin: auto;
}
.forgot-pass-dialog .forgot-con .forgot-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.forgot-pass-dialog .forgot-con .forgot-header .forgot-header-div {
  position: relative;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.forgot-pass-dialog .forgot-con .forgot-header .forgot-header-div h2 {
  padding: 0 35px;
  font-weight: 600;
  cursor: context-menu;
}
.forgot-pass-dialog .forgot-con .forgot-header .forgot-header-div i {
  transition: all 0.16s linear;
  position: absolute;
  right: 10px;
  cursor: pointer;
  border-radius: 3px;
  padding: 3px;
}
.forgot-pass-dialog .forgot-con .forgot-header .forgot-header-div i:hover {
  background-color: rgba(0, 0, 0, 0.123);
}
.forgot-pass-dialog .forgot-con .forgot-header .message {
  font-size: 14px;
}
.forgot-pass-dialog .forgot-con form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.forgot-pass-dialog .forgot-con form input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.178);
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
  outline: none;
  transition: all 0.23s linear;
}
.forgot-pass-dialog .forgot-con form input:hover {
  border: 1px solid black;
}
.forgot-pass-dialog .forgot-con form button {
  background-color: #00ab6b;
  width: 100%;
  color: white;
  padding: 15px;
  border-radius: 30px;
  border: none;
  font-size: 15px;
  font-weight: 650;
  cursor: pointer;
  transition: all 0.15s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.forgot-pass-dialog .forgot-con form button:hover {
  background-color: rgba(0, 171, 108, 0.8509803922);
}
.forgot-pass-dialog .forgot-con .icons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forgot-pass-dialog .forgot-con .icons i:nth-child(1) {
  font-size: 25px;
  color: #00ab6b;
}
.forgot-pass-dialog .forgot-con .icons i:nth-child(2) {
  font-size: 16px;
  position: absolute;
  right: 0;
  padding: 4px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.15s linear;
}
.forgot-pass-dialog .forgot-con .icons i:nth-child(2):hover {
  background-color: rgba(0, 0, 0, 0.123);
}
.forgot-pass-dialog .forgot-con .success-message {
  font-weight: 700;
  text-align: center;
  font-size: 14px;
}